.ico {
    color:orange;
    font-size:14px;
}

img {
    width: 100%;
    height: auto;
}

#sidenav-overlay {
    z-index: 1
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0px;
}

li.message, .message a {
    height: auto;
    line-height: 28px;
}

.side-title {
    background: rgb(50, 50, 50); /* Fallback */
    background: rgba(50, 50, 50, 0.5);
    margin-top: 120px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    padding-top: 1px;
}

.userView {
    padding: 1px !important;
}

.side-title a {
    font-size: 24pt !important;
}

#logo-div {
    height: 56px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}


@media only screen and (min-width: 601px) {
    #logo-div {
        height: 64px !important;
    }
}


#comic-book-logo {
    height: 48px;
    width: auto;
}